{{#tool-tipster
  content="<img src='http://lorempixel.com/45/45/abstract/'
          width='50'
          height='50'
          style='float:left ;margin:1em 10px 0 0; border:2px solid white'/>
          <p style='text-align:left;'>
            <strong>Neque porro quisquam est Qui.</strong>
            Dolorem ipsum quia dolor sit amet.
          </p>"
  contentAsHTML=true
  side="right"
  minWidth=300
  maxWidth=300 }}
  Hover
{{/tool-tipster}}
