{{#paper-content flex=true scroll-y=true layout-padding=true}}
<h2>Advanced Options</h2>

<p>
  Using AJAX to generate your tooltip content.
</p>

<p>
  We'll use {{#code-inline language='javascript'}}functionBefore{{/code-inline}} that fires everytime before the tooltip launches to replace the loading notification with an AJAX call. For more information check the <a href="http://iamceege.github.io/tooltipster/#functionBeforeExample" target="_blank">official docs on Tooltipster web page</a>
</p>

<p>
  In the example below we replace the content of the tooltip with the <a href="https://github.com/altrim/ember-cli-tooltipster" target="_blank">addon</a> description that we fetch through GitHub API. After the content is updated we cache it for the next time the tooltip is opened.
</p>

<h4>Demo</h4>
{{#ajax-tooltip}} Ajax Tooltipster {{/ajax-tooltip}}

<h4>Component</h4>
{{#code-block language='javascript'}}
//components/ajax-tooltip.js
import Ember from 'ember';

import TooltipsterComponent from 'ember-cli-tooltipster/components/tool-tipster';

export default TooltipsterComponent.extend({
  tagName: 'button',

  classNames: ['my-awesome-button'],

  position: 'right',

  content: 'Loading description...',

  functionBefore: function(origin, continueTooltip) {

    // we'll make this function asynchronous and allow the tooltip
    // to go ahead and show the loading notification while fetching our data
    continueTooltip();

    // next, we want to check if our data has already been cached
    if (origin.data('ajax') !== 'cached') {
      Ember.$.ajax({
        type: 'GET',
        url: 'https://api.github.com/repos/altrim/ember-cli-tooltipster',
        success: function(data) {
          // update our tooltip content with ember-cli-tooltipster description and cache it
          origin.tooltipster('content', data.description).data('ajax', 'cached');
        }
      });
    }
  }
});
{{/code-block}}

<h4>Template</h4>
{{#code-block language='handlebars'}}\{{#ajax-tooltip}}Ajax Tooltipster\{{/ajax-tooltip}}{{/code-block}}

{{/paper-content}}
