 {{#paper-sidenav-container class="inner-sidenav"}}

      {{#paper-sidenav
          class="md-whiteframe-z2"
          name="left"
          open=leftSideBarOpen
          onToggle=(action (mut leftSideBarOpen))
        }}
        {{#paper-toolbar as |toolbar|}}
          {{#paper-toolbar-tools}}Ember CLI Tooltipster{{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content }}

           {{#paper-list}}
              {{#paper-item onClick=(transition-to "/")}}
                Examples
              {{/paper-item}}

              {{#paper-item onClick=(transition-to "custom-components") }}
                Extending the component
              {{/paper-item}}

              {{#paper-item onClick=(transition-to "advanced-options") }}
                Advanced options
              {{/paper-item}}

              {{#paper-item onClick=(transition-to "tooltipster-plugins") }}
                Using with plugins
              {{/paper-item}}

              {{paper-divider}}

              {{#paper-item}}
                <a href="https://github.com/altrim/ember-cli-tooltipster" target="_blank">
                  View source on GitHub
                </a>
              {{/paper-item}}

              {{#paper-item}}
                <a href="http://iamceege.github.io/tooltipster/" target="_blank">
                  Tooltipster
                </a>
              {{/paper-item}}

          {{/paper-list}}
        {{/paper-content}}
      {{/paper-sidenav}}

      {{#paper-card-content class="flex"}}

        <div class="layout-column flex">
          {{#paper-toolbar}}
            {{#paper-toolbar-tools}}
              {{#paper-sidenav-toggle name="left" as |toggleAction|}}
                  {{#paper-button classNames="hide-gt-sm" onClick=(action toggleAction)}}
                    {{paper-icon "menu"}}
                  {{/paper-button}}
              {{/paper-sidenav-toggle}}
                <h2>
                  Demos
                </h2>
                <span class="flex"></span>
                {{/paper-toolbar-tools}}
              {{/paper-toolbar}}
            {{outlet}}
        </div>
      {{/paper-card-content}}
    {{/paper-sidenav-container}}
