{{#paper-nav-container class="app-container"}}

  {{#paper-sidenav class='md-sidenav-left md-whiteframe-z2' locked-open='gt-sm'}}

    {{#paper-toolbar}}
      <div class="md-toolbar-tools">

        <div class="logo-wrapper">
          <h2 id="title">
            {{#link-to 'index'}}
              <span class="text">Ember CLI Tooltipster</span>
            {{/link-to}}
          </h2>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}

        {{#paper-item action='transitionTo' param='/'}}
          Examples
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='custom-components'}}
          Extending the component
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='advanced-options'}}
          Advanced options
        {{/paper-item}}

        {{#paper-item action='transitionTo' param='tooltipster-plugins'}}
          Using with plugins
        {{/paper-item}}

        {{paper-divider}}

        {{#paper-item action='linkTo' param='https://github.com/altrim/ember-cli-tooltipster'}}
          View source on GitHub
        {{/paper-item}}

        {{#paper-item action='linkTo' param='http://iamceege.github.io/tooltipster/'}}
          Tooltipster
        {{/paper-item}}

      {{/paper-list}}
    {{/paper-content}}

  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
          {{#paper-button target=toggle action='toggleMenu' icon-button=true}}
            {{paper-icon icon='menu'}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">Demos</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class='md-padding'}}
      {{outlet}}
    {{/paper-content}}
  </div>

{{/paper-nav-container}}
