{{#paper-content class="md-padding"}}
<h2>Extending the component</h2>
<p>
  Following example shows how to extend the Tooltipster component to create your own button.
</p>

<h4>Demo</h4>
{{#my-button hide=tooltip closeTooltip='closeTooltip'}} Tooltipster button {{/my-button}}

<h4>Component</h4>
{{code-snippet name="custom-component.js"}}

<h4>Template</h4>
{{code-snippet name="custom-component.hbs"}}
{{/paper-content}}